.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

nav {
  /* position: sticky; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-menu-bg);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
}

.logonav {
  /* position: sticky;
  top: 0;
  left: 2; */
  cursor: pointer;
  width: 4.3rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

main {
  margin-inline: 2.7rem;
}

.h1index {
  font-size: 3.5rem;
  margin-inline: 2rem;
  font-family: "Zalando Sans", sans-serif;
}

.migdrej {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 3px solid var(--dark);
}

.migtekst-index {
  font-size: 2rem;
  text-wrap: pretty;
  font-family: "JetBrains Mono", monospace;
}

.stickylogo {
  position: sticky;
  top: 20;
}
/* .logonav {
  position: sticky;
  top: 0;
} */

.tema1vid {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

p {
  font-family: var(--font-family-serif);
}
h2 {
  font-family: var(--font-family-sans);
}
h3 {
  font-family: var(--font-family-serif);
}

.index-h2 {
  margin-bottom: 0.3rem;
}

.index-h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}
.index-p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.indeximg {
  border: 3px solid var(--dark);
  margin-bottom: 2rem;
}
.topimg {
  margin-top: 8rem;
}
.halvimg {
  width: 50%;
}

.totopimg {
  width: 6rem;
}

.totopstar {
  margin-inline: 9rem;
  margin-top: 4rem;
}

/********** FOOTER ***********/
footer {
  background-color: var(--dark);
  height: 28rem;
  margin-top: 5rem;
  padding-top: 5rem;
}

.socials {
  background-color: var(--white);
  border-radius: 12px;
  padding: 1rem;
  width: 4rem;
}
.socials_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 7rem;
  margin-top: 2rem;
  /* margin-bottom: -5rem; */
}

.footerhead {
  color: var(--white);
  font-family: var(--font-family-sans);
}

.footermail {
  color: var(--white);
  font-family: var(--font-family-sans);
}

.mailtext {
  margin-left: 7rem;
}

.logotype {
  width: 14rem;
  margin-left: 7rem;
  margin-bottom: 2rem;
}

/* index animation */

@keyframes textfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes textfadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.indextextani {
  animation-name: textfadein;
  animation-timeline: view();
}

/**************** om mig ***************/
.whitebar {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}

.bigpaper {
  background-color: var(--off-white);
  filter: drop-shadow(0px 2px 2px var(--dark));
  position: relative;
  z-index: -2;
  height: 100%;
  padding-bottom: 4rem;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: LeftToRightImg 20s linear infinite;
}

@keyframes LeftToRightImg {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}

.carouselimg {
  padding: 1rem;
  width: 20rem;
  filter: drop-shadow(0px 2px 2px var(--dark));
}

.textommig {
  padding-inline: 2rem;
}

.textommig h2 {
  margin-bottom: 1rem;
}
.textommig h3 {
  margin-bottom: 1rem;
}

.textommig p {
  font-size: 1.2rem;
}

/* erfaringskort */
.erfaringtekst {
  margin-top: 6rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

.stack-card {
  position: sticky;
  top: 90px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.erfaring1 {
  background-color: var(--kort-et);
  padding: 2rem;
  filter: drop-shadow(0px 2px 2px var(--dark));
  height: 20rem;
  /* margin-block: 4rem; */
  /* position: relative; */
  z-index: -4;
  top: 90px;
}
.erfaring2 {
  background-color: var(--kort-to);
  padding: 2rem;
  filter: drop-shadow(0px 2px 2px var(--dark));
  height: 20rem;
  /* margin-block: 4rem; */
  /* position: relative; */
  z-index: -4;
  top: 138px;
}
.erfaring3 {
  background-color: var(--kort-tre);
  padding: 2rem;
  filter: drop-shadow(0px 2px 2px var(--dark));
  height: 20rem;
  /* margin-block: 4rem; */
  /* position: relative; */
  z-index: -4;
  top: 186px;
}
.erfaring4 {
  background-color: var(--kort-fire);
  padding: 2rem;
  filter: drop-shadow(0px 2px 2px var(--dark));
  height: 20rem;
  /* margin-bottom: 4rem; */
  /* position: relative; */
  z-index: -4;
  top: 234px;
}

.year {
  text-align: right;
  font-family: var(--font-family-serif);
  color: var(--gray);
}
.erfaringhead {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.erfaringtekstbox p {
  font-size: 1.2rem;
}
/******** Projekt ***********/
.h1projekt {
  font-size: 3.5rem;
  margin-inline: 2rem;
  font-family: "Zalando Sans", sans-serif;
  margin-bottom: 2rem;
}

.arrowleft {
  width: 4rem;
  background-color: var(--dark);
  border-radius: 40px;
  padding: 1rem;
}

.arrowright {
  width: 4rem;
  background-color: var(--dark);
  border-radius: 40px;
  padding: 1rem;
}

.arrowrighttema1 {
  margin-left: 21rem;
}

.arrowcontainer {
  display: flex;
  justify-content: space-between;
}

.arrowcontainer :hover {
  cursor: pointer;
}

.temaheroimg {
  margin: 0;
}

.tema1vid {
  margin-top: 1rem;
}

.projekt-button {
  border: 3px solid var(--dark);
  font-family: var(--font-family-sans);
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

.projekt-button:hover {
  background-color: var(--dark);
  color: var(--white);
  border: 3px solid var(--dark);
}

.projekt-button:active {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
  box-shadow: inset 2px 2px 3px var(--dark);
}

.projektbigpaper {
  background-color: var(--off-white);
  filter: drop-shadow(0px 2px 2px var(--dark));
  position: relative;
  z-index: -2;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin-block: 4rem;
}

.projektbigpaper h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.projektbigpaper p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
/* mobil */

@media screen and (max-width: 800px) {
  /*************** Burger menu og nav *******************/

  nav {
    justify-content: right;
  }
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--dark);
    position: absolute;
    top: 60px;
    left: 0;
    width: 50%;
    margin-left: 50%;
    padding-block: 2rem;

    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }

  .menu-p {
    font-family: var(--font-family-sans);
    color: var(--off-white);
    margin-left: 2rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .menustaractive {
    display: none;
  }
  .logonav {
    position: sticky;
    top: 0;
  }

  .menustar {
    width: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  .menu-grid {
    display: flex;
  }
  /************* Mobil button ******************/

  .index-button {
    border: 3px solid var(--dark);
    font-family: var(--font-family-sans);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    padding-inline: 3rem;
    margin-bottom: 2rem;
  }

  .index-button:hover {
    background-color: var(--dark);
    color: var(--white);
    border: 3px solid var(--dark);
  }

  .index-button:active {
    background-color: var(--red);
    color: var(--white);
    border: 3px solid var(--red);
    box-shadow: inset 2px 2px 3px var(--dark);
  }

  /* om mig */

  .clip {
    width: 15rem;
    margin-inline: 20%;
    margin-bottom: -5rem;
    margin-top: 2rem;
    z-index: 2;
  }

  /*********** Projekt **************/
  .projekt-button {
    border: 3px solid var(--dark);
    font-family: var(--font-family-sans);
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem;
    padding-inline: 3rem;
    margin-inline: 18%;
    margin-bottom: 2rem;
  }

  .paperclipprojekt {
    width: 4rem;
    margin-inline: 8rem;
    margin-top: -3.8rem;
  }
  .paperclipproces {
    width: 4rem;
    margin-left: 14rem;
    margin-top: -3.8rem;
  }
  .papercliplosning {
    width: 4rem;
    margin-left: -2rem;
    margin-top: -1rem;
    margin-bottom: -4rem;
    transform: rotate(-0.25turn);
  }
  .paperclipreflektion {
    width: 4rem;
    margin-inline: 8rem;
    margin-top: -3.8rem;
  }

  .headerunderimg {
    margin-top: 2rem;
  }
}
